@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
	padding: 0;
	margin: 0;
}

.main {
	height: 100vh;
	width: 100vw;
}

.upper {
	flex: 1;
	background: linear-gradient(270deg, #05445E 0%, #022534 100%);
	width: 100vw;
	max-height: 50vh;
}
.lower {
	flex: 1;
	background-color: white;
	max-height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.up-left {
	flex: 1;
	justify-content: center;
	align-items: left;
	gap: 50px;
}

.up-left > * {
	padding-left: 20%;
}

.up-right {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ul-item1 {
	font-family: 'Rubik', sans-serif;
	color: white;
	font-size: 48px;
}

.nxt-lvl {
	color: #5AFFF5;
}

.ul-item2 {
	font-family: 'DM Sans', sans-serif;
	color: white;
	font-size: 18px;
	max-width: 60%;
}

.ul-item3 {
	justify-content: flex-start;
	gap: 20px;
}

.btn1 {
	color: #05445E;
	padding-inline: 35px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 6px;
	border: 1px solid black;
}

.btn2 {
	background: linear-gradient(94.24deg, #033042 -0.03%, #005C83 99.97%);
	color: white;
	padding-inline: 35px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 6px;
	border: 1px solid white;
}

.footer {
	margin: 3% 10%;
	gap: 20px;
}

.above-line {
	gap: 100px;
	align-items: center;
}

.foot-col1 {
	gap: 20px;
	justify-content: space-between;
}

.foot-col2 {
	gap: 10px;
	justify-content: space-between;
}

.foot-col3 {
	gap: 10px;
	justify-content: space-between;
}

.below-line {
	justify-content: space-between;
	align-items: center;
}

.socials {
	gap: 30px;
}




.socials img, 
.ul-item3 button,
.foot-col2 div:not(:first-child),
.foot-col3 div:not(:first-child) {
	cursor: pointer;
}

.algoblue {
	color: #29539B;
	font-weight: 900;
}

.dmsans1944 {
	font-family: 'DM Sans', sans-serif;
	font-size: 19.44px;
}

.dmsans1650 {
	font-family: 'DM Sans', sans-serif;
	font-size: 16.50px;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
}