@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Rubik:wght@800&family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.upper{
    height: 60%;
    background: linear-gradient(270deg, #05445E 0%, #022534 100%);
}
.lower{
    background-color: #fff;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.upper-left{
   padding: 10px;
   justify-content: space-around;
   margin-left: 100px;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.DSA{
    font-family: 'Rubik', sans-serif;
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 800;
    line-height: 54px;
    letter-spacing: -0.03em;
    text-align: left;
    margin-bottom: 15px;
}
.DSA span{
    color: #5AFFF5;
}
.india{
    font-family: 'DM Sans', sans-serif;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.03em;
    text-align: left;
}
.button1{
    width: 176.25px;
    height: 48px;
    border-radius: 6px;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.03em;
    text-align: center;
    color: #05445E;
    margin-right: 20px;
}
.button2{
    width: 176.25px;
    height: 48px;
    padding: 6px, 15px, 6px, 15px;
    border-radius: 6px;
    border: 0.75px; 
    gap: 7.5px;
    font-family: DM Sans;
    font-size: 17px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.03em;
    text-align: center;
    padding: 0.5rem;
    color: #FFFFFF;
    background: linear-gradient(270deg, #05445E 0%, #022534 100%);
}
.lower{
    width: 100%;
    padding: 50px 15px 10px 15px;
}
.some-things{
    justify-content: space-between;
    width: 70%;
}
.first{
    font-family: DM Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #000000;
    margin-left: 20px;
}
.awesome{
    color: #29539B;
    margin-bottom: 10px;
}
.line{
    margin-bottom: 10px;
}
.second{
    font-family: DM Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.03em;
    text-align: left;
}
.third{
    font-family: DM Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.03em;
    text-align: left;
}
.algozenith{
    color: #29539B;
}
.links{
    color: #29539B;
}
.footer{
    justify-content: space-between;
}
.copyright{
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.03em;
    text-align: left;
}